<div class="bg-gray-200 flex justify-center items-start min-h-screen">
  <div class="bg-white p-6 rounded-xl shadow-lg w-full max-w-md my-12">

    <form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="" class="space-y-4">
      <h2 class="text-2xl font-semibold mb-4 text-center">Crear Cuenta</h2>

      <!-- Campo de cédula -->
      <div class="mb-4">
        <label for="cedula" class="block text-gray-700 font-medium mb-2">Cédula:</label>
        <input
          type="text"
          id="cedula"
          name="cedula"
          required
          formControlName="cedula"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Cédula"
        />
      </div>

      <!-- Campo de nombre -->
      <div class="mb-4">
        <label for="nombre" class="block text-gray-700 font-medium mb-2">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          required
          formControlName="nombre"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Nombre"
        />
      </div>

      <!-- Campo de email -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          formControlName="email"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Email"
        />
      </div>

      <!-- Campo de Dirección -->
      <div class="mb-4">
        <label for="direccion" class="block text-gray-700 font-medium mb-2">Dirección:</label>
        <input
          type="text"
          id="direccion"
          name="direccion"
          required
          formControlName="direccion"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Dirección"
        />
      </div>

      <!-- Campo de teléfono -->
      <div class="mb-4">
        <label for="telefono" class="block text-gray-700 font-medium mb-2">Teléfono:</label>
        <input
          type="number"
          id="telefono"
          name="telefono"
          required
          formControlName="telefono"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Teléfono"
        />
      </div>

      <!-- Campo de password -->
      <div class="mb-4">
        <label for="password" class="block text-gray-700 font-medium mb-2">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          formControlName="password"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Password"
        />
      </div>

      <!-- Campo de repetir password -->
      <div>
        <label for="confirmPassword" class="block text-gray-700 font-medium mb-2">Repetir contraseña: </label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          formControlName="confirmaPassword"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-emerald-800 focus:ring-1 focus:ring-emerald-800"
          placeholder="Ingrese su Password nuevamente"
        />
      </div>
      @if (registroForm.hasError('passwordsMismatch')) {
        <p class="bg-red-600 text-white py-2 text-center rounded-lg">Las contraseñas no coinciden</p>
      }

      <div class="mt-6">
        <button
          type="submit"
          [disabled]="registroForm.invalid"
          class="w-full bg-emerald-800 text-white py-2 px-4 rounded-md hover:bg-emerald-600 focus:ring-2 focus:ring-offset-2 focus:ring-emerald-800">
          Registrarse
        </button>
      </div>

      <app-alerta [alerta]="alerta"></app-alerta>

      <p class="mt-4 text-sm text-center text-gray-600">¿Ya tienes cuenta? <a routerLink="/login" class="text-cyan-800 hover:underline">Inicia Sesión</a></p>

    </form>

  </div>
</div>
